* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family-open: 'Open Sans', sans-serif;
    --font-family-raleway: 'Raleway', sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-xBold: 800;
    --font-size-primary: 16px;
    --color-primary: #08A6E4;
    --color-white: #FFFFFF;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-box-shadow: #00000029;
    --color-lightBlue: #08A6E4;
    --color-grey: #A5A5A5;
    --color-black: #000000;
    --color-blue-shadow: #07ACE629;
    --color-red: #FB3B64;
    --color-green: #55DFB4;
    --circle-radius: 31.5px;
}

.container {
    width: 1352px;
}

h2 {
    font-family: Var(--font-family-raleway);
    font-weight: var(--font-weight-regular);
    font-size: calc(var(--font-size-primary) / 16 * 36);
    color: var(--color-black);

}

header {
    width: 100%;
    height: 70px;
    background-color: var(--color-white);
    box-shadow: var(--color-box-shadow) 0 3px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu a {
    text-decoration: none;
}

.menu-item {
    font-family: var(--font-family-open);
    font-weight: var(--font-weight-bold);
    font-size: calc(var(--font-size-primary) / 16 * 11);
    color: var(--color-grey);
    text-transform: uppercase;
    padding: 29.5px 12px 29.5px 12px;
    margin: 0 35.5px;
}

.menu-item:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-lightBlue);
    padding: 29.5px 12px 25.5px 12px;

}

.header-logo {
    font-family: var(--font-family-raleway);
    font-weight: var(--font-weight-light);
    font-size: calc(2 * var(--font-size-primary));
    color: var(--color-lightBlue);
    margin-left: 35.5px;
}

/*here is the banner part of the page*/

.banner {
    width: 100%;
    /*height: calc(100vh - 70px);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content h1 {
    font-family: var(--font-family-raleway);
    font-weight: var(--font-weight-regular);
    font-size: calc(var(--font-size-primary) / 16 * 49);
    color: var(--color-black);
    padding-top: 130px;
}

.banner-content p {
    font-family: var(--font-family-open);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-primary);
    color: var(--color-black);
    padding-top: 20px;
}

.banner-content a {
    text-decoration: none;
    font-family: var(--font-family-open);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-primary);
    padding-top: 38px;
    color: var(--color-white);
}

.banner-button {
    background-color: var(--color-lightBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 157px;
    box-shadow: var(--color-blue-shadow) 5px 10px 14px;
    border-radius: 40px;
}

.banner img {
    width: 100%;
    height: auto;
}

/*here is the part with the statistics about our page*/

.stats {
    height: 531px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--color-grey) 0 -5px 80px;
}

.stats-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.stats h2 {
    padding: 100px 0;
}

.circle {
    width: calc(var(--circle-radius) * 2);
    height: calc(var(--circle-radius) * 2);
    border-radius: var(--circle-radius);
    position: relative;
    margin-bottom: 14px;
}

.red {
    background-color: var(--color-red);
}

.blue {
    background-color: var(--color-lightBlue);
}

.green {
    background-color: var(--color-green);
}

.stats-logo {
    position: absolute;
    left: var(--circle-radius);
    top: 3px;
}

.blue .stats-logo {
    left: calc(var(--circle-radius) * 0.6);
    top: 14px;
}

.green .stats-logo {
    top: 6px;
}

.stats-items-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 102.5px;
}

.stats-items-column p {
    font-family: var(--font-family-raleway);
    font-size: calc(var(--font-size-primary) / 16 * 17);
    font-weight: var(--font-weight-regular);
    color: var(--color-grey);
    margin-top: 19px;
    width: 120px;
    text-align: center;
}

.stats-items-column p span {
    font-weight: var(--font-weight-xBold);
    color: var(--color-black);
    font-size: calc(var(--font-size-primary) / 16 * 20);
    letter-spacing: 6px;
}

