
$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-xBold: 800;
$font-size-primary: 16px;