
.end-page {
  /*width: 100%;*/
  display: flex;
  justify-content: space-between;
  box-shadow: $color-box-shadow 0 -5px 40px;
}

.footer-logo {
  font-family: $font-raleway;
  font-weight: $font-weight-light;
  font-size: 1.625rem;
  color: $color-lightBlue;
}

.footer-info {
  font-family: $font-open-sans;
  font-weight: $font-weight-regular;
  font-size: 0.6875rem;
  color: $color-grey;
  padding-top: 6.5px;
}

.footer-text {
  padding: 20.5px 0 38.5px 137px;
}

.footer-icons {
  padding: 35px 136px 0 0;
}

.footer-icons img:last-of-type {
  padding-left: 20px;
}